@font-face {
  font-weight: 700;
  font-family: RadioCanada;
  src: url('/fonts/RadioCanada-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: RadioCanada;
  src: url('/fonts/RadioCanada-SemiBold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: RadioCanada;
  src: url('/fonts/RadioCanada-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 300;
  font-family: RadioCanada;
  src: url('/fonts/RadioCanada-Light.woff2') format('woff2');
  font-display: swap;
}
