:root {
  // Fonts
  --font-family-body: 'RadioCanada', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
  --font-family-title: var(--font-family-body);

  // Color
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ec5f5b;
  --color-red-2: #f6afad;
  --color-red-3: #fbdfde;
  --color-dark-red: #9d3f3d;
  --color-blue-light: #b3dfe3;
  --color-blue: #00afc2;
  --rgb-blue: 0, 175, 194;
  --color-dark-blue: #006974;
  --theme-color-primary: #24252c;
  --theme-color-side-menu: #1e1f24;
  --theme-color-secondary: #19191c;
  --color-yellow: #fb9c00;
  --color-gold: #f9b82c;
  --color-golden-text: #fcb654;
  --color-purple: #48157a;
  --color-dark-purple: #430a51;
  --color-surface-white: #fcfcfd;
  --color-surface-overlay: rgba(0, 0, 0, 34%);
  --color-validation-green: #35d85e;
  --color-validation-red: #ff3232;
  --rgb-validation-red: 202, 53, 53;
  --color-validation-background-red: #fae2e1;
  --color-base: var(--color-surface-white);
  --color-font-base: #fff;
  --color-accent: var(--color-yellow);
  --color-blue-notification: #e0f6fa;
  --theme-gradient-color-1: #cecece;
  --theme-gradient-color-2: var(--color-white);
  --theme-gradient-hover-color-1: #e4db87;
  --theme-gradient-hover-color-2: #e38935;
  --theme-gradient-hover-color-3: #e6c24b;
  --theme-gradient-hover-color-4: #ee7322;
  --theme-gradient-color: linear-gradient(
    90deg,
    var(--theme-gradient-color-1) 0%,
    var(--theme-gradient-color-2) 50%,
    var(--theme-gradient-color-1) 100%
  );
  --theme-gradient-color-hover: linear-gradient(
    to top left,
    var(--theme-gradient-hover-color-1) 0%,
    var(--theme-gradient-hover-color-2) 100%
  );
  --theme-gradient-color-hover-inverse: linear-gradient(
    to bottom right,
    var(--theme-gradient-hover-color-1) 0%,
    var(--theme-gradient-hover-color-2) 100%
  );
  --theme-gradient-color-hover-tertiary: linear-gradient(
    to bottom right,
    var(--theme-gradient-hover-color-3) 0%,
    var(--theme-gradient-hover-color-4) 100%
  );
  --gradient-white: linear-gradient(
    to top left,
    var(--theme-gradient-color-1) 0%,
    var(--color-white) 100%
  );
  --shadow-before-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 50%),
    rgba(0, 0, 0, 0%)
  );
  --shadow-after-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0%),
    rgba(0, 0, 0, 50%)
  );

  // Buttons
  --color-button-primary: var(--color-black);
  --color-button-primary-background: var(--theme-gradient-color);
  --color-button-primary-background-1: var(--theme-gradient-color-1);
  --color-button-primary-background-2: var(--theme-gradient-color-2);
  --color-button-primary-hover: var(--color-white);
  --color-button-primary-hover-background: var(--theme-gradient-color-hover);
  --color-button-primary-pressed: var(--color-red-2);
  --color-button-primary-pressed-background: var(--color-dark-red);
  --color-button-primary-disabled: var(--color-white);
  --color-button-primary-disabled-background: var(--color-red-2);
  --color-button-white: var(--color-red);
  --color-button-white-background: var(--color-white);
  --color-button-secondary: var(--color-black);
  --color-button-secondary-background: var(--theme-gradient-color-hover);
  --color-button-secondary-hover: var(--color-grey-1);
  --color-button-secondary-hover-background: var(--theme-gradient-color);
  --color-button-secondary-pressed: var(--color-grey-1);
  --color-button-secondary-pressed-background: var(--color-red);
  --color-button-secondary-disabled: var(--color-red-2);
  --color-button-secondary-disabled-background: transparent;
  --color-button-tertiary: var(--color-black);
  --color-button-tertiary-background: var(
    --theme-gradient-color-hover-tertiary
  );
  --color-button-tertiary-hover: var(--color-grey-1);
  --color-button-tertiary-hover-background: var(
    --theme-gradient-color-hover-tertiary
  );
  --color-button-tertiary-pressed: var(--color-grey-1);
  --color-button-tertiary-pressed-background: var(--color-red);
  --color-button-tertiary-disabled: var(--color-red-2);
  --color-button-tertiary-disabled-background: transparent;

  // Greyscale
  --color-grey-dark: #1c1c1c;
  --color-grey-medium-dark: #2c2c2d;
  --color-grey-1: #404042;
  --color-grey-2: #5b5b5b;
  --color-grey-3: #979797;
  --color-grey-4: #b7b7b7;
  --color-grey-5: #eaeaea;
  --color-grey-6: #f3f3f3;
  --color-grey-light: #fff;
  --color-grey-border: #97a1a4;

  // Checkbox
  --checkbox-background: var(--theme-color-secondary);
  --checkbox-background-hover: var(--color-grey-medium-dark);
  --checkbox-border: var(--color-white);
  --checkbox-border-radius: 4px;

  // Dimensions
  --menu-height: 85px;
  --header-height: 90px;
  --game-top-bar-height: 33px;
  --navigation-bar-height: 56px;
  --navigation-bar-height-desktop: 107px;
  --footer-height: 0;
  --menu-and-modal-max-width: 450px;
  --message-icons-container: 76px;

  // Border radius
  --page-modal-border-radius: 24px;
  --button-border-radius: 10px 0;

  // Padding
  --standard-padding: 30px;
  --login-padding: 24px var(--standard-padding);
  --login-padding-tablet: 128px 48px 32px;
  --side-menu-padding: 0 var(--standard-padding);

  // Box shadow
  --box-shadow-primary: inset 0 10px 5px -5px #00000080,
    inset 0 -10px 5px -5px #00000080;

  // Animation
  --animation-speed: 500ms;
  --animation-ease: cubic-bezier(0.33, 1.06, 0.29, 0.94);

  // Transitions
  --standard-transition-quick: 0.15s;

  // Z-index.
  --index-header: 3;
  --index-back-button: 4;
  --index-menu: 5;
  --index-chat: var(--index-menu);
  --index-count-down: 5;
  --index-cookie-banner: 6;
  --index-modal: 7;
  --index-splash-screen: 7;
  --index-loader-spinner: 5;
  --index-notifications: 10;
}
