@import 'styles/utils/__utils';

.chat {
  z-index: var(--index-menu);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  flex-grow: 1;

  width: 100%;

  // background-color: var(--theme-color-primary);
  background-color: lightgrey;
  overflow: hidden;
}

.chatContent {
  position: relative;

  width: 100%;
  max-width: 767px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--theme-color-side-menu);

  overflow: scroll;
}

.topWrapper {
  z-index: 3;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: var(--menu-height);
  padding: var(--side-menu-padding);

  background-color: var(--theme-color-secondary);

  h2 {
    margin: 0;

    font-size: 24px;
  }
}

.icon {
  position: relative;

  width: 24px;
  height: 24px;

  background-image: var(--theme-gradient-color);

  cursor: pointer;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: var(--theme-gradient-color-hover);

    opacity: 0;
    transition: opacity var(--standard-transition-quick);
  }

  &:hover::after {
    opacity: 1;
  }
}

.contentWrapper {
  min-height: calc(100% - var(--menu-height));
  min-height: 100vh;
}

.messagesWrapper {
  display: flex;

  flex-direction: column;
  gap: 20px;

  min-height: calc(100vh - calc(var(--menu-height) + 48px));
  padding: 16px 20px;
}

.messageOuterWrapper {
  margin-right: 18px;

  // display: none;
  font-size: 14px;
}

.messageOuterWrapperUser {
  margin-right: 0;
  margin-left: 18px;
}

.messageInformation {
  display: flex;

  justify-content: space-between;

  margin-bottom: 5px;

  color: var(--color-grey-4);
}

.userAuthor {
  font-weight: 700;
}

.message,
.myMessage {
  position: relative;

  padding: 13px 18px;

  &::before {
    content: '';

    position: absolute;
    bottom: -9px;

    width: 10px;
    height: 10px;

    background: var(--color-dark-purple);
  }

  &::after {
    content: '';

    position: absolute;
    bottom: -18px;

    width: 18px;
    height: 18px;

    background: var(--theme-color-side-menu);
    border-radius: 50%;
  }
}

.message {
  background-image: linear-gradient(to bottom, #fff, #fff);
  border-radius: 12px 12px 12px 0;

  color: var(--color-black);

  &::before {
    left: 0;

    background: inherit;
  }

  &::after {
    left: 0;
  }
}

.myMessage {
  background-image: linear-gradient(
    to bottom,
    var(--color-purple),
    var(--color-dark-purple)
  );
  border-radius: 12px 12px 0;

  color: var(--color-white);

  &::before {
    right: 0;

    background: var(--color-dark-purple);
  }

  &::after {
    right: 0;
  }
}

.inputWrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;

  align-items: center;

  width: 100%;
  height: 48px;
  padding: 8px 35px;

  background-color: var(--theme-color-secondary);
}

.messageInput {
  width: calc(100% - var(--message-icons-container));
  height: 100%;
  padding: 0 10px;

  border: none;
  border-radius: 10px;

  font-size: 14px;
  text-decoration: none;

  caret-color: var(--color-purple);

  caret: 4px;
}

.messageIcons {
  display: flex;

  align-items: flex-end;

  width: var(--message-icons-container);
  height: 100%;
}

.messageIconsInnerWrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 32px;
  padding-left: 16px;
}

.messageIcon {
  position: relative;

  width: 22px;
  height: 22px;

  background-image: var(--gradient-white);

  cursor: pointer;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: var(--theme-gradient-color-hover);

    opacity: 1;
    transition: opacity var(--standard-transition-quick);
  }

  &:hover::after {
    opacity: 0.5;
  }
}
