@import 'styles/utils/__utils';

.loginWrapper {
  @include flex-centered(true);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0 80px;

  background-color: transparent;

  color: var(--color-white);

  @include is-desktop {
    width: 450px;
  }
}

h1 {
  margin-bottom: 14px;
}

.paragraph {
  max-width: 300px;

  font-size: em(15);
}

.devLoginButton {
  margin-top: 15px;
}

.closeIcon {
  position: fixed;
  top: calc(25px + var(--game-top-bar-height));
  right: 25px;

  width: 14px;
  height: 14px;

  cursor: pointer;
}

.globeIcon {
  width: 40px;
  margin-top: 40px;
  margin-bottom: 71px;

  fill: white;
}

.bankIDLogoWrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 72px;
  height: 72px;
  margin-bottom: 23px;

  background-color: var(--color-white);
  border-radius: 19px;
}

.logoIcon {
  width: 35px;
}
