@import 'styles/utils/__utils';

.button {
  position: relative;
  display: flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 350px;
  height: 50px;
  margin: 0 auto;
  padding: 0 em(20, 18);

  background: var(--color-button-primary-background);
  border-radius: 10px 0;

  color: var(--color-button-primary);
  font-weight: 400;
  font-size: rem(18);
  font-family: var(--font-family-body);
  line-height: 2;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;

  outline: 0 none;

  pointer-events: auto;

  transition: background 0.15s, color 0.15s;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:active {
    background: var(--color-button-primary-hover-background);

    color: var(--color-button-primary-hover);
  }

  &.isDisabled {
    background: var(--color-button-primary-disabled-background);

    color: var(--color-button-primary-disabled);

    cursor: not-allowed;

    pointer-events: none;
  }

  &.isSecondary {
    background: var(--color-button-secondary-background);

    color: var(--color-button-secondary);

    outline: 2px solid var(--color-button-secondary);
    outline-offset: -2px;

    &:hover {
      background: var(--color-button-secondary-hover-background);

      color: var(--color-button-secondary-hover);
    }

    &:active {
      background: var(--color-button-secondary-pressed-background);

      color: var(--color-button-secondary-pressed);

      outline: none;

      transition: background-color 0.25s, color 0.25s;
    }

    &.isDisabled {
      background: var(--color-button-secondary-disabled-background);

      color: var(--color-button-secondary-disabled);

      outline-color: var(--color-button-secondary-disabled);
    }
  }

  &.isWhiteButton {
    background: var(--color-button-white-background);

    color: var(--color-button-white);
  }

  &.isBlueButton {
    background: var(--color-dark-blue);

    color: var(--color-white);

    &:hover {
      background: #043f46;
    }

    &:active {
      background: #043137;

      color: var(--color-blue-light);
    }
  }

  &.isSecondaryBlueButton {
    background: var(--color-button-secondary-background);

    color: var(--color-dark-blue);

    outline: 2px solid var(--color-dark-blue);
    outline-offset: -2px;

    &:hover {
      background: var(--color-blue-light);
    }

    &:active {
      background: var(--color-dark-blue);

      color: var(--color-blue-light);

      outline: none;

      transition: background-color 0.25s, color 0.25s;
    }

    &.isDisabled {
      background: var(--color-button-secondary-disabled-background);

      color: var(--color-blue-light);

      outline-color: var(--color-blue-light);
    }
  }

  &.isLoginPage {
    width: 257px;
  }

  &.isGhost {
    background: var(--color-white);
    border: 2px solid var(--color-blue);

    color: var(--color-blue);

    filter: none;
  }

  &.isTransparent {
    background: transparent;
    border: 2px solid var(--color-white);

    color: var(--color-white);

    filter: none;
  }

  &.isText {
    @include h5;

    display: inline-flex;

    width: auto;
    max-width: none;
    height: auto;
    margin-bottom: 0;
    padding: 0;

    background: transparent;
    border-radius: 0;

    color: var(--color-button-primary);

    filter: none;
    text-decoration-line: underline;

    &.isRedText {
      color: var(--color-red);
      text-decoration: none;

      &:hover {
        color: var(--color-dark-red);
      }
    }

    &:hover {
      text-decoration-line: none;
    }
  }

  &.isLoading {
    pointer-events: none;
  }

  &.hasShadow {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 26%);
  }

  > span {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}
