@import 'styles/utils/__utils';

$breakpoint-large-menu: 451px;
$breakpoint-smaller-desktop: 700px;

.wrapper {
  z-index: var(--index-menu);
  position: fixed;
  bottom: 0;
  left: 50%;

  width: 100%;
  max-width: var(--menu-and-modal-max-width);
  padding: 0 24px 17px;

  background-color: var(--color-white);
  border-radius: 12px 12px 0 0;

  transform: translateX(-50%);

  @media (min-width: $breakpoint-large-menu) {
    padding: 0 40px 11px;

    border-radius: 40px 40px 0 0;

    @media (max-height: $breakpoint-smaller-desktop) {
      padding-bottom: 5px;
    }
  }
}

.innerWrapper {
  @include flex-centered;

  position: relative;

  align-items: flex-end;
  justify-content: space-between;

  height: 67px;
  padding-top: 6px;

  &::after {
    content: '';

    z-index: -1;
    position: absolute;
    top: -12px;
    left: 50%;

    width: 80px;
    height: 80px;

    background-color: var(--color-white);
    border-radius: 100%;

    transform: translateX(-50%);
  }

  @media (min-width: $breakpoint-large-menu) {
    height: 61px;
    padding-top: 0;

    @media (max-height: $breakpoint-smaller-desktop) {
      height: 47px;
    }
  }
}

.menuItem {
  @include flex-centered(true);

  position: relative;

  flex: 0 0 32px;

  padding-bottom: 17px;

  font-size: rem(10);
  line-height: rem(12);
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
  -webkit-tap-highlight-color: transparent;

  > span {
    position: absolute;
    bottom: 0;
  }

  &.isActive {
    color: var(--color-blue);
  }
}

.icon {
  width: 32px;
  overflow: visible;

  &.globe {
    width: 42px;
  }

  @media (min-width: $breakpoint-large-menu) and (max-height: $breakpoint-smaller-desktop) {
    width: 22px;

    &.globe {
      width: 28px;
    }
  }
}
