@import 'styles/utils/__utils';

.isLoading {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - var(--menu-height));
}

.attributesVisualizer {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 300px;

  background-color: var(--theme-color-secondary);

  box-shadow: var(--box-shadow-primary);
}

.attributesSelector {
  padding: var(--standard-padding);
}

.attributesHeading {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: rem(16);
}

.attributesContent {
  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 12px;
  row-gap: 6px;
}

.attributeItem {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.attributeText {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 115px;

  p {
    @include font-14;

    margin: 0;

    font-weight: 600;
    text-transform: capitalize;
  }
}

.statsRanking {
  position: relative;

  padding: var(--standard-padding);

  background-color: var(--theme-color-secondary);

  box-shadow: var(--box-shadow-primary);
}

.lineStats {
  display: flex;

  flex-direction: column;
  align-items: center;

  margin-top: 24px;
}

.round {
  @include font-14;

  margin: 0;

  font-weight: 600;
}

.personalStats {
  padding: var(--standard-padding);
}

.personalStatsContent {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 14px;
}

.left {
  margin-top: 8px;
}

.personalStatsSubHeading {
  margin-bottom: 6px;

  font-weight: 600;
  font-size: rem(20);
}

.attemptsSuccessful {
  @include font-16;

  margin-bottom: 0;

  font-weight: 600;
}

.personalStatsNumbers {
  @include font-16;

  margin-bottom: 8px;

  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }
}

.right {
  position: relative;

  max-width: 50%;
}

.percentage {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 0;

  font-weight: 600;
  font-size: 20px;
}

.bestPositions {
  padding: var(--standard-padding);

  background-color: var(--theme-color-secondary);

  box-shadow: var(--box-shadow-primary);
}

.positionsList {
  display: flex;

  flex-direction: column;
  gap: 12px;

  margin-top: 10px;
}

.positionItem {
  display: flex;

  align-items: center;

  p {
    margin: 0;

    font-weight: 600;
    font-size: rem(20);
  }
}

.donut {
  width: 36px;
  margin-right: 14px;
}

.transferHistory {
  padding: var(--standard-padding);
}

.historyText {
  @include font-14;

  margin: 8px 0 0;

  font-weight: 600;
}

.historyItem {
  position: relative;

  margin-bottom: 24px;

  &::before {
    content: '';

    position: absolute;
    right: 0;
    bottom: -13px;
    left: 0;

    height: 1px;

    background-color: var(--color-white);
  }

  &:last-child {
    margin-bottom: 0;

    &::before {
      height: 0;
    }
  }

  p {
    @include font-14;

    margin: 0 0 2px;

    font-weight: 600;
  }
}

.buttonsWrapperSmall {
  display: flex;

  gap: 30px;
  justify-content: center;
}

.buttonsWrapper {
  display: flex;

  flex-direction: column;
  gap: 14px;
  align-items: center;

  padding-top: 10px;
}
