@import 'styles/utils/__utils';

.draggableContainer {
  position: relative;

  width: 40px;
  height: 40px;

  cursor: grab;
}

.jerseyNumber {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  color: var(--theme-color-secondary);
  font-weight: 600;
  font-family: var(--font-family-secondary);
  inset: 0;
}
