@import 'styles/utils/__utils';

.wrapper {
  position: relative;
  display: flex;

  justify-content: center;

  width: 100%;
  max-width: var(--menu-and-modal-max-width);
  height: var(--content-height);
  margin: 0 auto;

  overflow: hidden;

  @media (min-width: 451px) {
    padding-top: 34px;
  }
}

.scrollContainer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  overflow-y: scroll;

  // hide scrollbar in firefox
  scrollbar-width: none;

  // hide scrollbar in chrome
  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: '';

    z-index: -1;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: calc(100vh - 280px);

    background-color: var(--color-surface-white);

    pointer-events: none;
  }

  @media (min-width: 451px) {
    height: calc(100% - 34px);

    border-radius: var(--page-modal-border-radius)
      var(--page-modal-border-radius) 0 0;

    &::after {
      height: calc(100vh - 350px);
    }
  }
}

.content {
  @include flex-centered(true);

  z-index: 2;
  position: relative;

  width: 100%;
  height: auto;
  margin-top: -24px;
  padding-bottom: 100px;

  background-color: var(--color-surface-white);
  border-radius: var(--page-modal-border-radius) var(--page-modal-border-radius)
    0 0;

  &.uninlogged {
    > div > div:first-child > h4 {
      padding: rem(22) 0 rem(10) 0;
    }
  }
}
