@import 'styles/utils/__utils';

.headings {
  padding: var(--standard-padding) var(--standard-padding) 0;
}

.playerResultsDescription {
  @include font-16;

  margin: 6px 0;

  font-weight: 600;
}

.amountDisplayed {
  @include font-14;

  margin-bottom: 14px;

  font-weight: 600;
}

.artefactWrapper {
  position: relative;

  padding: calc(var(--standard-padding) / 2) var(--standard-padding);

  background-color: var(--theme-color-secondary);

  box-shadow: var(--box-shadow-primary);

  &:nth-child(2n) {
    background-color: transparent;

    box-shadow: none;
  }
}

.artefactHeading {
  display: flex;

  gap: 17px;
}

// .left {
// }

.artefactImage {
  width: 36px;
  height: 36px;
}

.right {
  margin-bottom: 14px;
}

.artefactTitle {
  @include font-16;

  margin-bottom: 2px;

  font-weight: 600;
}

.artefactDescription {
  @include font-14;

  margin: 0;

  font-weight: 600;
}

.bidParagraph {
  @include font-14;

  margin: 0 0 6px;

  font-weight: 600;

  &:last-child {
    margin: 0;
  }
}

.openCloseArrow {
  position: absolute;
  top: 84px;
  right: 12px;
  transition: transform 0.5s;
}

.openCloseArrowIcon {
  width: 20px;
  height: 20px;

  fill: var(--color-white);
  transition: fill 0.2s;

  &:hover {
    fill: var(--color-gold);
  }
}

.placeBid {
  position: relative;
  display: grid;

  grid-template-rows: 0fr;

  margin: 0;

  transition: grid-template-rows 0.25s, margin 0.25s;
}

.placeBid > div {
  overflow: hidden;
}

.isOpen {
  grid-template-rows: 1fr;

  margin: 20px 0 5px;
}

.errorMessage {
  @include font-14;

  display: grid;

  grid-template-rows: 0fr;

  margin: 0;

  color: var(--color-validation-red);
  transition: grid-template-rows 0.25s, margin 0.25s;

  &.isSuccessful {
    color: var(--color-validation-green);
  }
}

.errorMessage > div {
  overflow: hidden;
}

.errorMessageIsOpen {
  grid-template-rows: 1fr;

  margin: 6px 0 0;
}
