@import 'styles/utils/__utils';

.artefactsWrapper {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 70%;
  display: flex;
}

.artefacts {
  display: flex;

  gap: 4px;
  align-items: center;

  overflow: visible;
}

.artefactImage {
  width: 24px;
  height: 24px;
}

.singlePlayerView {
  top: auto;
  bottom: 0;
}
