@import 'styles/utils/__utils';

$breakpoint-large-menu: 451px;
$breakpoint-smaller-desktop: 700px;

.wrapper {
  @include paragraph-small;
  @include flex-centered;

  z-index: var(--index-notifications);
  position: fixed;
  bottom: 84px;
  left: 50%;

  justify-content: flex-start;

  width: 335px;
  padding: 19px 18px;

  background-color: var(--color-blue-notification);
  border-radius: 16px;

  transform: translateX(-50%);
  opacity: 0;
  animation: fade-in ease 0.3s 0s forwards;

  @media (min-width: $breakpoint-large-menu) {
    bottom: 74px;

    @media (max-height: $breakpoint-smaller-desktop) {
      bottom: 60px;
    }
  }
}

.icon {
  width: 20px;
  margin-right: 10px;
  overflow: visible;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
