@import 'styles/utils/__utils';

.dropdownWrapper {
  position: relative;
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 30px;

  margin-bottom: 30px;
}

.inputsWrapper {
  display: flex;

  flex-direction: column;
  gap: 14px;

  margin-bottom: 14px;
}
