@import 'styles/utils/__utils';

.wrapper {
  z-index: 2;
  position: sticky;
  bottom: 0;
  display: flex;

  align-items: center;

  height: 58px;
  padding: 0 28px;

  background-color: var(--color-white);

  outline: solid 1px lightgrey;
}
