@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin flex-centered($direction-column: false) {
  display: flex;

  align-items: center;
  justify-content: center;

  @if $direction-column {
    flex-direction: column;
  }
}

@mixin is-mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin is-tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin is-desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin is-touch() {
  :global(body.has-touch) & {
    @content;
  }
}

@mixin is-not-touch() {
  :global(body:not(.has-touch)) & {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin autofill {
  @include optional-at-root(':-webkit-autofill') {
    @content;
  }

  @include optional-at-root(':-webkit-autofill:hover') {
    @content;
  }

  @include optional-at-root(':-webkit-autofill:focus') {
    @content;
  }

  @include optional-at-root(':-webkit-autofill:active') {
    @content;
  }
}
