@import 'styles/utils/__utils';

.wrapper {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;

  align-items: center;
  justify-content: center;

  height: 58px;
  padding: 0 20px;

  background-color: var(--color-white);
  border-radius: 12px 12px 0 0;

  font-size: 18px;

  @include is-desktop {
    height: 69px;
    margin-bottom: 32px;
    padding: 23px 40px 0;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 28px;

  width: 14px;
  height: 14px;
  margin-top: 0;
}
