@import 'styles/utils/__utils';

.wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .link,
.wrapper .forgotPassword {
  color: currentcolor;
}

.form {
  max-width: em(332);
  margin: 0 auto em(24);
  padding-top: em(20);
}

.button {
  max-width: em(174, 18);
  margin-top: em(16);
}
