@import 'styles/utils/__utils';

.wrapper {
  position: absolute;
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-top: calc(var(--navigation-bar-height) + 2px);

  background-color: var(--color-white);

  text-align: center;

  @include is-desktop {
    padding-top: calc(var(--navigation-bar-height-desktop) + 2px);
  }
}
