@import 'styles/utils/__utils';

.loginWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 100%;
  padding: var(--game-top-bar-height) 0 0;

  background-color: transparent;

  color: var(--color-white);

  @include is-desktop {
    width: 450px;
  }
}

.welcomeWrapper {
  @include flex-centered(true);

  height: auto;
  flex-grow: 1;

  @include is-desktop {
    max-width: 500px;
  }
}

h3 {
  margin: 0;
  font-weight: 400;
}

h1 {
  margin-bottom: 14px;
  max-width: 250px;

  @include is-desktop {
    max-width: 500px;
  }
}

.checkIcon {
  width: 76px;
  height: 76px;
  margin-bottom: 21px;
}

.proceedWrapper {
  margin-bottom: 40px;
}

.paragraphWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  max-width: 310px;
}

.paragraphHeading {
  font-weight: 600;
  margin-bottom: 3px;
}
