@import 'styles/utils/__utils';

.button {
  @include flex-centered;

  position: relative;

  justify-content: space-between;

  width: 100%;
  min-height: rem(64);

  border-bottom: 1px solid var(--color-grey-5);

  text-decoration: none;

  cursor: pointer;
}

.label {
  @include paragraph;

  margin-right: auto;
  margin-bottom: 0;

  color: var(--color-grey-1);
  font-weight: 400;
}

.arrowIconWrapper,
.iconWrapper {
  @include flex-centered;

  width: fit-content;
  height: fit-content;
}

.iconWrapper {
  margin-right: rem(16);

  color: var(--color-grey-medium-dark);
}

.arrowIconWrapper {
  margin-left: 6px;

  color: var(--color-grey-4);
}

.icon,
.arrowIcon,
.warningIcon {
  width: 24px;

  overflow: visible;
}

.icon,
.arrowIcon {
  fill: currentcolor;
}
