@import 'styles/utils/__utils';

.countDownWrapper {
  z-index: var(--index-count-down);
  position: absolute;
  top: 57px;

  width: 228px;

  color: var(--color-white);

  opacity: 1;

  transition: opacity 0.3s ease;

  &.isHidden {
    opacity: 0;

    pointer-events: none;
  }

  @media (min-height: 750px) {
    top: 77px;
  }

  @include is-desktop {
    top: 60px;

    @media (min-height: 750px) {
      top: 93px;
    }
  }
}

.text {
  @include font-14;

  margin-bottom: 0;

  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;

  &:first-of-type {
    margin-bottom: rem(2);
  }
}

.countDown {
  @include font-54;

  margin-bottom: rem(2);

  text-align: left;

  opacity: 1;
  transition: opacity 0.3s;

  &.notVisible {
    opacity: 0;
  }
}
