@import 'styles/utils/__utils';

.wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
}

.btn {
  margin: 10px;
}

h4 {
  margin: 20px;
}
