@import 'styles/utils/__utils';

.nextGameWrapper {
  padding: 22px 30px;
}

.menuSubHeading {
  @include font-14;

  font-weight: 600;
}

.gameInfoWrapper {
  display: flex;

  align-items: center;
}

.imageOuterContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background-image: var(--theme-gradient-color-hover);
  border-radius: 50%;

  &:nth-child(2) {
    margin-right: 22px;
    margin-left: -12px;
  }
}

.imageContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;
  padding: 8px;

  background-color: var(--theme-color-primary);
  border-radius: 50%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.teamNamesWrapper {
  p {
    margin: 0;
  }
}

.teamName {
  @include font-14;

  font-weight: 600;
}

.versus {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
