@import 'styles/utils/__utils';

.isLoading {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - var(--menu-height));
}

.loadingText {
  margin-bottom: 16px;
}

.headings {
  padding: var(--standard-padding) var(--standard-padding) 0;
}

.description {
  @include font-16;

  margin-top: 6px;
  padding: 0 var(--standard-padding);

  font-weight: 400;
}

.playerResultsDescription {
  @include font-16;

  margin: 6px 0;

  font-weight: 600;
}

.amountDisplayed {
  @include font-14;

  margin-bottom: 14px;

  font-weight: 600;
}
