@import 'styles/utils/__utils';

.wrapper {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;

  align-items: center;

  height: 58px;
  padding: 0 28px;

  background-color: var(--color-white);
  border-radius: 12px 12px 0 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 28px;

  width: 14px;
  height: 14px;
  margin-top: 0;
}

.clearInput {
  position: absolute;
  top: 14px;
  right: 36px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  @include is-desktop {
    right: 56px;
  }
}
