@import 'styles/utils/__utils';

.modalDialog {
  z-index: 6;
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 50%;

  width: 100%;
  max-width: var(--menu-and-modal-max-width);
  height: auto;

  background-color: #fff;
  background-attachment: fixed;
  border-radius: 0;

  box-shadow: 0 0 30px rgba(0, 0, 0, 30%);
  transform: translate(-50%, 0%);
  overscroll-behavior: contain;

  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include is-desktop {
    border-radius: 12px 12px 0 0;
  }
}
