@import 'styles/utils/__utils';

.wrapper {
  padding: 20px;
  padding-bottom: 10px;

  /*
  position: absolute;
  bottom: 112px;
  left: 21px;

  @include is-desktop {
    bottom: 40px;
    left: 40px;
  }
  */
}
