@import 'styles/utils/__utils';

.wrapper {
  width: 100%;
  padding: 0 20px;
}

.header {
  margin: rem(22) 0 rem(10) 0;

  color: var(--color-blue);
  font-size: rem(18);
  line-height: rem(24);
}

.walletContent {
  @include flex-centered(true);

  position: relative;

  width: 100%;
  height: 192px;
  padding: 24px 25px 24px 20px;

  background-image: url('assets/icons/wallet-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  box-shadow: rgba(0, 129, 143, 60%) 0 25px 20px -20px;

  @media (min-width: 451px) {
    height: 212px;
  }
}

.section {
  display: flex;

  flex: 0 0 50%;

  width: 100%;

  color: var(--color-white);

  h1 {
    margin: 0;

    font-size: rem(36);
    line-height: rem(44);
  }

  &.first {
    align-items: flex-start;
    justify-content: space-between;
  }

  &.second {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.bold {
  font-weight: 600;
  text-transform: uppercase;
}

.date {
  opacity: 0.6;
}

.smallParagraph {
  margin: 0 0 rem(2);

  font-size: rem(15);
  line-height: rem(18);
}

.globeIcon {
  width: 38px;
}

.pinIcon {
  width: 24px;
  margin: 0 0 0 5px;
}
