@import 'styles/utils/__utils';

.animBox {
  z-index: var(--index-modal);
  position: relative;
}

.cookieContainer {
  z-index: var(--index-modal);
  position: absolute;
  right: 0;
  left: 0;

  width: 100%;
  max-width: 343px;
  margin: auto auto 16px;
  padding: 32px 32px 24px;

  background-color: var(--color-white);
  border-radius: 8px;

  box-shadow: 0 12px 40px 0 #00000040;

  @media (min-width: 423px) {
    margin: auto 40px 40px auto;
  }
}

.cookieContent {
  @include flex-centered(true);
}

.cookieIcon {
  width: 24px;
  margin-right: 11px;
}

.heading {
  @include flex-centered;

  justify-content: flex-start;

  width: 100%;
  margin: 0 0 rem(26);

  color: var(--color-black);
}

.paragraph {
  margin: 0 0 24px;

  color: var(--color-black);
  font-size: rem(15);
  line-height: rem(18);
}

.buttonContainer {
  @include flex-centered;

  flex-wrap: wrap;
  justify-content: space-between;
}

.buttonClasses,
.declineButtonClasses {
  @include flex-centered;

  min-width: 134px;
  height: 44px;
  margin-bottom: 8px;

  background-color: var(--color-white);
  border: 2px solid var(--color-button-secondary);
  border-radius: 24px;

  color: var(--color-red);
  font-weight: 600;
  font-size: rem(18);
  line-height: rem(21);

  transition: background-color 0.25s, color 0.25s, border-color 0.25s;

  &:hover {
    background-color: var(--color-button-secondary-hover-background);

    color: var(--color-button-secondary-hover);
  }

  &:active {
    background-color: var(--color-button-secondary-pressed-background);
    border-color: var(--color-button-secondary-pressed-background);

    color: var(--color-button-secondary-pressed);

    outline: none;
  }
}

.buttonClasses {
  background-color: var(--color-red);
  border-color: var(--color-red);

  color: var(--color-white);

  outline: 0 none;

  &:hover {
    background-color: var(--color-button-primary-hover-background);
    border-color: var(--color-button-primary-hover-background);

    color: var(--color-button-primary-hover);
  }

  &:active {
    background-color: var(--color-button-primary-pressed-background);
    border-color: var(--color-button-primary-pressed-background);

    color: var(--color-button-primary-pressed);
  }
}
