@import 'styles/utils/__utils';

.animBox {
  z-index: var(--index-modal);
  position: fixed;

  background-color: rgba(#000, 50%);

  inset: 0;
}

.innerWrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.cookieContainer {
  z-index: var(--index-modal);
  position: absolute;
  right: 0;
  left: 0;

  width: 100%;
  max-width: 343px;
  margin: auto auto 16px;
  padding: 32px 32px 24px;

  background-color: var(--theme-color-primary);
  border-radius: 8px;

  color: var(--color-white);

  box-shadow: 0 12px 40px 0 rgba(#000, 40%);

  @media (min-width: 423px) {
    margin: auto 40px 40px auto;
  }
}

.cookieContent {
  @include flex-centered(true);
}

.cookieIcon {
  width: 40px;
  margin-right: 12px;

  fill: var(--color-white);
}

.heading {
  @include flex-centered;
  @include font-24-bold;

  align-items: end;
  justify-content: flex-start;

  width: 100%;
  margin: 0 0 rem(16);
}

.paragraph {
  @include font-14;

  margin: 0 0 24px;
}

.buttonContainer {
  @include flex-centered;

  flex-wrap: wrap;
  justify-content: space-between;
}

.buttonClasses,
.declineButtonClasses {
  @include flex-centered;

  z-index: 1;
  position: relative;

  min-width: 134px;
  height: 50px;
  margin-bottom: 8px;

  background-image: var(--color-button-primary-background);
  border-radius: var(--button-border-radius);

  color: var(--color-button-primary);
  font-weight: 400;
  font-size: rem(18);
  line-height: 2;

  &::before {
    content: '';

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: var(--theme-gradient-color-hover);
    border-radius: var(--button-border-radius);

    opacity: 0;
    transition: opacity 0.15s linear;
  }

  &:hover::before {
    opacity: 1;
  }
}

.buttonClasses {
  background: var(--color-button-secondary-background);

  color: var(--color-button-secondary);

  &::before {
    background-image: var(--theme-gradient-color-hover-inverse);
  }
}
