@import 'styles/utils/__utils';

.button {
  width: 100%;
  height: 64px;

  &:hover {
    background-color: var(--color-grey-6);
  }
}

.wrapper {
  display: flex;

  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0;

  border-bottom: 1px solid var(--color-grey-6);

  @include is-desktop {
    padding: 0;
  }
}

.icon {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  margin-left: 0;
}

.labelWrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.header {
  color: var(--color-grey-1);
  font-size: 18px;
  text-align: left;
}

.subHeader {
  color: var(--color-grey-3);
  font-size: 12px;
  text-align: left;
}
