@import 'styles/utils/__utils';

.splashScreenWrapper {
  @include flex-centered;

  z-index: var(--index-splash-screen);
  position: fixed;

  width: 100%;
  height: 100%;

  background: var(--color-dark-blue);

  opacity: 1;

  &.animateOut {
    opacity: 0;

    transition: opacity 0.3s 0s ease-out;
  }
}

.contentWrapper {
  @include flex-centered(true);

  justify-content: space-between;

  height: 100%;
  max-height: 100%;
  padding: 38px 0;

  @include is-desktop {
    max-height: 369px;
    padding: 0;

    @media (min-height: 700px) {
      max-height: 477px;
    }

    @media (min-height: 800px) {
      max-height: 728px;
    }
  }
}

.logoContainer {
  display: flex;

  flex-direction: column;
  align-items: flex-end;

  transform: translateY(-32px);

  @include is-desktop {
    transform: translateY(-45px);

    @media (min-height: 700px) {
      transform: translateY(-49px);
    }

    @media (min-height: 800px) {
      transform: translateY(-52px);
    }
  }
}

.spinningLogo {
  margin: 0 17px 14px 0;

  border: none !important;

  outline: none !important;

  @include is-desktop {
    margin: 0 21px 16px 0;

    @media (min-height: 700px) {
      margin: 0 27px 22px 0;
    }

    @media (min-height: 800px) {
      margin: 0 35px 28px 0;
    }
  }
}

.logo {
  width: 274px;

  @include is-desktop {
    width: 336px;

    @media (min-height: 700px) {
      width: 432px;
    }

    @media (min-height: 800px) {
      width: 572px;
    }
  }
}

.header {
  margin: 0;

  color: var(--color-white);
}

.paragraph {
  margin: 0;

  color: var(--color-blue);
}
