@import 'styles/utils/__utils';

.wrapper {
  width: 100vw;
  height: var(--content-height);
}

.mapbox {
  width: 600;
  height: 400;
}

.test {
  width: 20px;
  height: 20px;

  background-color: red;
}
